@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button > svg {
  pointer-events: none;
}

@mixin mobile-w-100 {
  width: 100% !important;
}

@mixin sticky-calculate-button-row {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  bottom: 0;
}

.sticky-calculate-button-row {
  //@include media-breakpoint-up(sm) {
  //  @include sticky-calculate-button-row;
  //}
  @include media-breakpoint-down(xl) {
    //border: 2px solid $primary;
    background-color: $primary;
    @include sticky-calculate-button-row;
    .mobile-w-100 {
      @include mobile-w-100;
    }
  }
}

.padding-tb-0-5 {
  padding: 0.5rem 1rem;
}

#loading-modal-dialog {
  .modal-content {
    background-color: #22222280;
    .spinner-border {
      width: 15rem;
      height: 15rem;
    }
  }
}